---
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<[[:alpha:]_]+>'
    Priority:        1
  - Regex:           '<.*>'
    Priority:        2
  - Regex:           '".*"'
    Priority:        3
...